In [1]:
import pandas as pd
import regex as re

In [2]:
Sample_Text = 'Python Exercises, PHP exercises.'
replaced_text = re.sub("[ ,.]",":", Sample_Text)
print(replaced_text)

Python:Exercises::PHP:exercises:

In [3]:
data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
pat = '[^a-z\s]'
df['SUMMARY'] = df['SUMMARY'].str.replace(pat, '', regex=True)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [4]:
str1 = "Virat Kohli is an Indian cricketer who plays for India national cricket team. He was born in Delhi, India on November 5, 1988. Virat is the first player in ICC cricket history to win all 3 ICC awards in a single year- ICC ODI player of the year, ICC Test player of the year and ICC Player of the year award in 2018."

pat = r"\b\w{4}\b"
reg_pat = re.compile(pat)
result = reg_pat.findall(str1)
print(result)

['team', 'born', '1988', 'year', 'year', 'Test', 'year', 'year', '2018']

In [5]:
str1 = "Virat Kohli is an Indian cricketer who plays for India national cricket team. He was born in Delhi, India on November 5, 1988. Virat is the first player in ICC cricket history to win all 3 ICC awards in a single year- ICC ODI player of the year, ICC Test player of the year and ICC Player of the year award in 2018."

pat = r"\b\w{3,5}\b"
reg_pat = re.compile(pat)
result = reg_pat.findall(str1)
print(result)

['Virat', 'Kohli', 'who', 'plays', 'for', 'India', 'team', 'was', 'born', 'Delhi', 'India', '1988', 'Virat', 'the', 'first', 'ICC', 'win', 'all', 'ICC', 'year', 'ICC', 'ODI', 'the', 'year', 'ICC', 'Test', 'the', 'year', 'and', 'ICC', 'the', 'year', 'award', '2018']

In [6]:
texts = ["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"]
pat = (r"[()]")
pattern = re.compile(pat)
for text in texts:
    print(re.sub(pattern,"", text))

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [7]:
texts = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for text in texts:
    print(re.sub("\([^)]*\)", '', text))

example
hr@fliprobo
github
Hello
Data

In [8]:
pattern = '.[^A-Z]*'
text = "ImportanceOfRegularExpressionsInPython"
match = re.findall(pattern, text)
print(match)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [9]:
pattern = r'(\d+)([A-Za-z]+)'
text = "RegularExpression1IsAn2ImportantTopic3InPython"
match = re.sub(pattern, r' \1\2', text,)
print(match)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [10]:
pattern = r'(\d+)([A-Za-z]+)'
text = "RegularExpression1IsAn2ImportantTopic3InPython"
match = re.sub(pattern, r' \1 \2', text,)
print(match)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [12]:
pattern = r"(\w{6})"
df['first_five_letters'] = df['Country'].str.extract(pattern, expand=True)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [13]:
str2 = "Mahendra Singh Dhoni was born on 7 July 1981 in Ranchi, Bihar, India. He is an actor and producer, known for Let's_Get_Married (2023), Star Sports India vs Australia ODI Series 2013 (2013) and 2011 Cricket World Cup (2011)."

pat = r"\w+"

result = re.findall(pat, str2)

print('match_object = ',result )

match_object =  ['Mahendra', 'Singh', 'Dhoni', 'was', 'born', 'on', '7', 'July', '1981', 'in', 'Ranchi', 'Bihar', 'India', 'He', 'is', 'an', 'actor', 'and', 'producer', 'known', 'for', 'Let', 's_Get_Married', '2023', 'Star', 'Sports', 'India', 'vs', 'Australia', 'ODI', 'Series', '2013', '2013', 'and', '2011', 'Cricket', 'World', 'Cup', '2011']

In [14]:
str2 = "1981 month of July day 7th, Mahendra Singh Dhoni was born on in Ranchi, Bihar, India. He is an actor and producer, known for Let's_Get_Married (2023), Star Sports India vs Australia ODI Series 2013 (2013) and 2011 Cricket World Cup (2011)."
pat = r"^\d+"
result = re.match(pat, str2)
#result = re.findall(pat, str2)
print('match_object = ',result )

match_object =  <regex.Match object; span=(0, 4), match='1981'>

In [15]:
x = '0'
ip = '192.108.10.170'

result = re.sub(x, "",ip)

print('expected_result = ',result)

expected_result =  192.18.1.17

In [16]:
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pat = r"(\b([A-Z][a-z]+).\d{2}(th).\d{4}\b)"

result = re.search(pat, text)
print(result.group())

August 15th 1947

In [17]:
#Question 15
text = "The quick brown fox jumps over the lazy dog."
pat = "fox|dog|horse"

match = re.findall(pat,text)
print(match)

['fox', 'dog']

In [18]:
#Question 16
text = "The quick brown fox jumps over the lazy dog."
pat = "fox|dog"

match = re.search(pat,text)
print(match.group())

fox

In [19]:
#Question 17
text = "Python exercises, PHP exercises, C# exercises"
#pat = "exercises"

#match = re.findall(pat,text)
#print(match)

pat = re.compile("exercises")
for match in pat.finditer(text):
    print(match.group())

exercises
exercises
exercises

In [20]:
#Question 18
#texts = ["Python exercises", "PHP exercises", "C# exercises"]

#for text in texts:
#    match = re.search("exercises",text)
 #   print(match)
    
text = "Python exercises, PHP exercises, C# exercises"
pat = re.finditer(r"exercises",text)
for match in pat:
    print(match)
    print(match.group())

<regex.Match object; span=(7, 16), match='exercises'>
exercises
<regex.Match object; span=(22, 31), match='exercises'>
exercises
<regex.Match object; span=(36, 45), match='exercises'>
exercises

In [21]:
#Question 19
text = "2023-01-06"

match = re.sub(r"(\d{4})-(\d{1,2})-(\d{1,2})", '\\3-\\2-\\1',text)
print(match)

06-01-2023

In [22]:
#Question 20

text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pat = re.compile(r'\d+\.\d{1,2}\b')

match = re.findall(pat, text)
print(match)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [23]:
#Question 21

text = "leading the Test rankings for 18 months starting December 2009"
pat = re.finditer('\d+', text)
for match in pat:
    print(match.group())
    print("position of str:- ", match.start())

18
position of str:-  30
2009
position of str:-  58

In [24]:
#Question 22

text = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
largest_numeric_value = re.findall(r'\d+',text)
max_marks = max(largest_numeric_value)
print(max_marks)

950

In [25]:
#Question 23

text = "RegularExpressionIsAnImportantTopicInPython"
pat = r"(\w)([A-Z])"

result = re.sub(pat,r"\1 \2" ,text)
print(result)

Regular Expression Is An Important Topic In Python

In [26]:
#Question 24
text = "Rishu Raj Kumar"
pat = '[A-Z][a-z]+'
reg_pat = re.compile(pat)
result = reg_pat.findall(text)
print(result)

['Rishu', 'Raj', 'Kumar']

In [27]:
#Question 25
text = "Hello hello world world"
pat = r'\b(\w+)( \1\b)'

result = re.sub(pat, r'\1', text, re.UNICODE)
print(result)

Hello hello world

In [28]:
#Question 26
text = "this is abcd1234"

pat= r'\w+$'
result = re.search(pat, text)
print(result)

<regex.Match object; span=(8, 16), match='abcd1234'>

In [29]:
#Question 27

text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pat = r'#\S+'

result = re.findall(pat, text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [30]:
#Question 28

text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pat = r"<U\+\w{4}>"

result = re.sub(pat, "", text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [31]:
#Question 29

text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pat = r'\d{2}-\d{2}-\d{4}'

result = re.findall(pat, text)
print(result)

['12-09-1992', '15-12-1999']

In [32]:
#Question 30

text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pat = r'\b\w{2,4}\b'
pattern = re.compile(pat)
print(re.sub(pattern,'', text))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.