In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import time
import time

1.Scrape the details of most viewed videos on YouTube from Wikipedia:

Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
#Connect to web driver
driver=webdriver.Chrome()

In [3]:
#Getting the website to driver
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

#When we run this line, automatically the webpage will be opened

In [4]:
#Creating the empty lists to store the scraped data
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

#As we need only the first 30 details, we will iterate only for the first 30 data
#Scrapping the details of the Rank of the video
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for index, value in enumerate(rank[:30], start=1):
    Rank.append(index)

# Scrapping the details of the video name
video=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in video[:30]:
    Name.append(i.text)
    
# Scrapping the details of the Artist name
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
# Scrapping the details of the views information
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)
    
# Scrapping the details of the upload date
date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in date[:30]:
    Upload_Date.append(i.text)

# Creating a dataframe for storing the scraped data
Yt_data=pd.DataFrame({})
Yt_data['Rank']=Rank
Yt_data['Video Name']=Name
Yt_data['Artist']=Artist
Yt_data['Views(Billions)']=Views
Yt_data['Upload Date']=Upload_Date

Yt_data

,Rank,Video Name,Artist,Views(Billions),Upload Date
0,1,Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","June 17, 2016","November 2, 2020"
1,2,Luis Fonsi,"2,993,700,000","January 12, 2017","August 4, 2017"
2,3,Wiz Khalifa,"2,894,000,000","April 6, 2015","July 10, 2017"
3,4,Psy,"803,700,000","July 15, 2012","November 24, 2012"
4,5,Justin Bieber,"245,400,000","February 19, 2010","July 16, 2010"
5,6,Lady Gaga,"178,400,000","November 24, 2009","April 14, 2010"
6,7,HDCYT,"128,900,000","May 22, 2007","October 25, 2009"
7,8,Judson Laipply,"118,900,000","April 6, 2006","May 2, 2009"
8,9,RCA Records,"92,600,000","February 27, 2007","July 17, 2008"
9,10,Judson Laipply,"78,400,000","April 6, 2006","March 15, 2008"
10,11,CLARUSBARTEL72,"76,600,000","April 9, 2007","March 1, 2008"
11,12,Judson Laipply,"10,600,000","April 6, 2006","May 19, 2006"
12,13,Smosh,"4,300,000","November 28, 2005","March 12, 2006"
13,14,eggtea,"2,700,000","January 31, 2006","February 18, 2006"
14,15,mugenized,"3,400,000","December 1, 2005","January 21, 2006"
15,16,youtubedude,"2,300,000","December 18, 2005","January 9, 2006"
16,17,Nikesoccer,"255,000","October 21, 2005","October 31, 2005"
17,18,larfus,"247,000","October 5, 2005","October 29, 2005"

In [5]:
#Closing the driver
driver.close()

2.Scrape the details team India‚Äôs international fixtures from bcci.tv.

Url = https://www.bcci.tv/

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
#Connect to web driver
driver=webdriver.Chrome()

In [7]:
#Getting the website to driver
driver.get('https://www.bcci.tv/')

In [8]:
#Clicking international fixture section
international=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
driver.get(international.get_attribute('href'))

In [10]:
#Creating empty lists for storing the scrapped data
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

name_elements = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.XPATH, '//div[@class="match-card-top"]/div/div/span[1]'))
)
series_elements = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.XPATH, '//h5[@class="match-tournament-name ng-binding"]'))
)
place_elements = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.XPATH, '//div[@class="match-place ng-scope"]'))
)
date_elements = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.XPATH, '//div[@class="match-date-info"]/div[1]'))
)
time_elements = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.XPATH, '//div[@class="match-time no-margin ng-binding"]'))
)

#Scrapping the data having the match name
name=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div/div/span[1]')
for i in name:
    Match.append(i.text)

#Scrapping the data having the series name
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
    
#Scrapping the data having the place of match
place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    Place.append(i.text)
    
#Scrapping the data having the match date
date=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')  #Only date
for i in range(len(date)):
    Date.append(date[i].text)  #Appending date and month texts together
    
#Scrapping the data having match time
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)

#Creating a Dataframe for the scrapped data
fixtures=pd.DataFrame({})
fixtures['Match name']=Match
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time
fixtures

,Match name,Series,Place,Date,Time
0,5th Test,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,1st T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,2nd T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,3rd T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,4th T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,5th T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [11]:
#Closing the driver
driver.close()

4.Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(19-20)

D) GSDP(18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [12]:
#Connect to web driver
driver=webdriver.Chrome()

In [13]:
# Opening Wikipedia webpage
url='https://www.statisticstimes.com/'
driver.get(url)

In [14]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [15]:
# Clicking on India under ecomony section
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    


# Clicking Indian State GDP
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))

In [16]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [17]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

In [18]:
#Closing the driver
driver.close()

5.Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [19]:
#Connect to web driver
driver=webdriver.Chrome()

In [20]:
# Function to wait for an element to be present in the DOM
def wait_for_element(driver, xpath):
    return WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.XPATH, xpath)))

# Getting the website to driver
driver.get('https://github.com/')

# Clicking explore tab and trending option using exception
Open_Source = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
try:
    Open_Source.click()
except ElementNotInteractableException as e:
    driver.get(Open_Source.get_attribute('href'))

trending = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    trending.click()
except ElementNotInteractableException as e:
    driver.get(trending.get_attribute('href'))

# Wait for the elements to be present in the DOM
title_elements = wait_for_element(driver, '//h2[@class="h3 lh-condensed"]/a')
desc_elements = wait_for_element(driver, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
count_elements = wait_for_element(driver, '//div[@class="f6 color-fg-muted mt-2"]/span/a[1]')
lang_elements = wait_for_element(driver, '//div[@class="f6 color-fg-muted mt-2"]/span[1]')

# Scrapping the data having the repository title
rep_title = [i.text for i in title_elements]

# Scrapping the data having the repository description
rep_desc = [i.text for i in desc_elements]

# Scrapping the data having the contributors count
Count = [i.text for i in count_elements]

# Scrapping the data having the language used
Lang = [i.text if i.text is not None else 'Not Available' for i in lang_elements]

# Checking out the length of scrapped data
print(len(rep_title), len(rep_desc), len(Count), len(Lang))

# Creating a dataframe for the scrapped data
rep_title = rep_title[:21]
rep_desc = rep_desc[:21]
Count = Count[:21]
Lang = Lang[:21]

github = pd.DataFrame({
    'Repository title': rep_title,
    'Description': rep_desc,
    'Contributors count': Count,
    'Language used': Lang
})

# Print the DataFrame
github

25 24 25 25

,Repository title,Description,Contributors count,Language used
0,cloudflare / pingora,"A library for building fast, reliable and evol...",,Rust
1,Lissy93 / web-check,üïµÔ∏è‚Äç‚ôÇÔ∏è All-in-one OSINT tool for analysing any ...,,TypeScript
2,polyfillpolyfill / polyfill-service,Automatic polyfill service.,,Built by
3,HumanAIGC / EMO,A curated list of free courses & certifications.,,Built by
4,cloudcommunity / Free-Certifications,Nintendo Switch emulator,,Built by
5,yuzu-emu / yuzu,"18 Lessons, Get Started Building with Generati...",,C++
6,microsoft / generative-ai-for-beginners,Animate Anyone: Consistent and Controllable Im...,,Jupyter Notebook
7,HumanAIGC / AnimateAnyone,"Implementation of ""BitNet: Scaling 1-bit Trans...",,Built by
8,kyegomez / BitNet,Windows in a Docker container.,,Python
9,dockur / windows,Rust full node implementation of the Fuel v2 p...,,Shell
10,FuelLabs / fuel-core,üî•Highlighting the top ML papers every week.,,Rust
11,dair-ai / ML-Papers-of-the-Week,üë©üèø‚Äçüíªüë®üèæ‚Äçüíªüë©üèº‚Äçüíªüë®üèΩ‚Äçüíªüë©üèª‚Äçüíª‰∏≠ÂõΩÁã¨Á´ãÂºÄÂèëËÄÖÈ°πÁõÆÂàóË°® -- ÂàÜ‰∫´Â§ßÂÆ∂ÈÉΩÂú®ÂÅö‰ªÄ‰πà,,Built by
12,1c7 / chinese-independent-developer,This repository is the future home of the Rive...,,Built by
13,memorysafety / river,Turns Data and AI algorithms into production-r...,,Built by
14,Avaiga / taipy,A one stop repository for generative AI resear...,,Python
15,aishwaryanr / awesome-generative-ai-guide,Wazuh - The Open Source Security Platform. Uni...,,Built by
16,wazuh / wazuh,High-quality multi-lingual text-to-speech libr...,,C
17,myshell-ai / MeloTTS,üî• ÂÖ®Èù¢ESM+Vue3+Vite+Element-Plus+TypeScriptÁºñÂÜôÁöÑ‰∏ÄÊ¨æ...,,Python
18,pure-admin / vue-pure-admin,Python packaging and dependency management mad...,,Vue
19,python-poetry / poetry,Large-scale Self-supervised Pre-training Acros...,,Python
20,microsoft / unilm,"üöÄ A robust, performance-focused, and full-feat...",,Python

In [21]:
#Closing the driver
driver.close()

6.Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [22]:
#Connect to web driver
driver=webdriver.Chrome()

In [23]:
#Getting the website to driver
driver.get('https://www.billboard.com/')

In [24]:
#Clicking charts and then hot100 option
charts=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
    
hot_100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))

In [25]:
#Creating empty lists for storing the scrapped data
Song=[]
Artist=[]
Lastweek=[]
Peak=[]
Weeks_on_board=[]

#Scrapping the data having the song name
song=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in song:
    Song.append(i.text)
    
#Scrapping the data having the artist name
artist=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in artist:
    Artist.append(i.text)
    
#Scrapping the data having the last week rank
last_week=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in last_week:
    if i.text is None:
        Lastweek.append('-')
    else:
        Lastweek.append(i.text)
        
#Scrapping the data having the peak rank
peak=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in peak:
    if i.text is None:
        Peak.append('-')
    else:
        Peak.append(i.text)
        
#Scrapping the data having weeks on board data
weeks=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in weeks:
    if i.text is None:
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

In [26]:
#Creating a dataframe for the scrapped data
billboard=pd.DataFrame({'Song':Song,'Artist':Artist,'Last week Rank':Lastweek,'Peak Rank':Peak,'Weeks on board':Weeks_on_board})
billboard

,Song,Artist,Last week Rank,Peak Rank,Weeks on board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¬•$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¬•$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

In [27]:
#Closing the driver
driver.close()

8.Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [28]:
#Connect to web driver
driver=webdriver.Chrome()

In [29]:
#Getting the website to driver
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [30]:
#Creating empty lists to store the scrapped data
Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]

#Scrapping the data having the book name
book=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book:
    Book.append(i.text)
    
#Scrapping the data having the author name
author=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author:
    Author.append(i.text)
    
#Scrapping the data having the volumes sold details
volume=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volume:
    Volume.append(i.text)

#Scrapping the data having publisher details
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)
    
#Scrapping the data having genre details 
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)

In [31]:
#Creating a dataframe for the scrapped data
novels=pd.DataFrame({})
novels['Book']=Book
novels['Author']=Author
novels['Volumes sold']=Volume
novels['Publisher']=Publisher
novels['Genre']=Genre
novels

,Book,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [32]:
#Closing the driver
driver.close()

9.Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [33]:
#Connect to web driver
driver=webdriver.Chrome()

In [34]:
#Getting the website to driver
driver.get('https://www.imdb.com/list/ls512407256/')

In [35]:
#Creating empty lists for storing the scrapped data
Name=[]
Year=[]
Genre=[]
Runtime=[]
Rating=[]
Vote=[]

#Scrapping the data having the series name
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the year span details
year=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in year:
    Year.append(i.text)
    
#Scrapping the data having the genre details
genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
#Scrapping the data having the runtime details
runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in runtime:
    Runtime.append(i.text)
    
#Scrapping the data having rating details
rating=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
for i in rating:
    Rating.append(i.text)
    
#Scrapping the data having the votes details
votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
for i in votes:
    Vote.append(i.text)

In [36]:
#Creating a dataframe for the scrapped data
IMDB=pd.DataFrame({'Name':Name,'Year span':Year,'Genre':Genre,'Runtime':Runtime,'Rating':Rating,'Votes':Vote})
IMDB

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",55 min,9.2,"2,262,800"
1,Stranger Things,(2016‚Äì2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,628"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,383"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"313,497"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,443"
...,...,...,...,...,...,...
95,True Detective,(2014‚Äì ),"Crime, Drama, Mystery",55 min,8.9,"645,889"
96,Teen Wolf,(2011‚Äì2017),"Action, Drama, Fantasy",41 min,7.7,"162,078"
97,The OA,(2016‚Äì2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,895"
98,The Simpsons,(1989‚Äì ),"Animation, Comedy",22 min,8.7,"433,132"
99,Desperate Housewives,(2004‚Äì2012),"Comedy, Drama, Mystery",45 min,7.6,"138,703"

In [37]:
#Closing the driver
driver.close()

10.Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [38]:
#Connect to web driver
driver=webdriver.Chrome()

In [39]:
#Getting the website to driver
driver.get('https://archive.ics.uci.edu/')

In [40]:
#Clicking on view all datasets link
datasets=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [41]:
#Creating empty lists for storing the scrapped data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]

#Scrapping the data having dataset name
try:
    names=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#Scrapping the data having data type
try:
    types=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for i in types:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
#Scrapping the data having default task
try:
    task=driver.find_elements(By.XPATH,'//p[@class="truncate"]')
    for i in task:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    for i in attribute:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('-')
        
#Scrapping the data having no of instances
try:
    instance=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
    for i in instance:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    for i in attribute_no:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')

In [42]:
#Creating the dataframe
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes
0,Iris,Tabular,"A small classic dataset from Fisher, 1936. One...",4 Features,150 Instances,4 Features
1,Dry Bean Dataset,Multivariate,"Images of 13,611 grains of 7 different registe...",16 Features,13.61K Instances,16 Features
2,Heart Disease,Multivariate,"4 databases: Cleveland, Hungary, Switzerland, ...",13 Features,303 Instances,13 Features
3,Rice (Cammeo and Osmancik),Multivariate,A total of 3810 rice grain's images were taken...,7 Features,3.81K Instances,7 Features
4,Adult,Multivariate,Predict whether income exceeds $50K/yr based o...,14 Features,48.84K Instances,14 Features
5,Raisin,Multivariate,Images of the Kecimen and Besni raisin varieti...,8 Features,900 Instances,8 Features
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Diagnostic Wisconsin Breast Cancer Database.,30 Features,569 Instances,30 Features
7,Wine,Tabular,Using chemical analysis to determine the origi...,13 Features,178 Instances,13 Features
8,Wine Quality,Multivariate,"Two datasets are included, related to red and ...",12 Features,4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",This diabetes dataset is from AIM '94,20 Features,1 Instances,20 Features

In [43]:
#Closing the driver
driver.close()